@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

nav li a {
  margin: 0 0.5rem;
}

.dropdown-toggle {
  font-weight: 500;
  transition: all 0.2s;
}

.dropdown-toggle:hover {
  color: #0AAd0A;
}


header span {
  font-size: 24.5px;
}

.hero {
  min-height: 60vh;
  width: 100vw;
}

.imageContainer {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.commonCard {
  border: solid 1px rgb(228, 228, 228);
  transition: all 0.2s;
}


.commonCard:hover {
  box-shadow: 0 5px 8px rgba(128, 128, 128, 0.457);
  border-color: green;
}



.bannerCard {
  padding: 3rem 2rem;
}

.productCard {
  width: 47.5%;
}

.category,
.rating {
  font-size: 12.25px;
}

.text-muted {
  color: #5c6c75;
  opacity: 0.8;
}

.featuredCategoryCard h5 {
  font-size: 14px;
  font-weight: 600;
}

.productCardContent .name {
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s;
}

.productCardContent .price {
  font-size: 14px;
  font-weight: 500;
}

.productCardContent .name:hover {
  color: green;
}

.bestSellsContainer {
  overflow-x: auto;
  width: 100%;
  gap: 1rem;
}

.dailySellCard {
  width: 100%;
  text-align: left !important;
  min-width: 322px;
}

.btn-success {
  background-color: #0AAd0A;
}

li {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.nav-item a {
  text-decoration: none;
}

footer {
  background: #f0f3f2;
}

.advantages {
  text-align: start;

}

footer h6,
.advantages p {
  font-size: 14px;
  font-weight: 500;
}

.advantages .h5 {
  font-size: 17.5px;
}

.timerContainer {
  font-size: 14px;
}




@media (min-width:576px) {
  .container {
    max-width: 540px;
  }

  .productCard {
    width: 31.8%;
  }

  .dailySellCard {
    width: 334px;
  }

}

@media (min-width:700px) {
  .productCard {
    width: 31.8%;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }

  .productCard {
    width: 18.63%;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  .productCard {
    width: 19%;
  }
}